<h1>Создать вопрос</h1>
<form action="<%= test_questions_path %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <textarea rows="2" cols="40" name="question[body]" placeholder="Задайте вопрос"></textarea>
  <br>
  <input type="submit" value="Создать">
</form>
