<h1><%= t(".header", title: @test_passage.test.title) %></h1>

  <% if @test_passage.test_pass? %>
    <span style="color: green;">You passed with result: <%= @test_passage.result_percentage %>%</span>
  <% else %>
    <span style="color: red;">You failed with result: <%= @test_passage.result_percentage %>%</span>
  <% end %>
</p>
<%= link_to "All Tests", tests_path %>
