<footer class="text-center text-lg-start bg-light text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <%= t(".message") %> <%= link_to "Thinknetica", "https://www.thinknetica.com/", target: :blank %> © <%= current_year%> Copyright:
    <%= github_url("marsel", "marselgabdulov")%>
  </div>
</footer>
