<tr>
  <td scope="row"><%= test.title %></td>
  <td scope="row"><%= test.level %></td>
  <td scope="row"><%= test.questions.count %></td>
  <td scope="row"><%= button_to "Start", start_test_path(test), class: "btn btn-primary" %></td>
</tr>
