<footer>
  <p>Учебный проект в онлайн-школе <a href="https://www.thinknetica.com/" target="_blank" rel="nofollow noopener">Thinknetica</a> <%= current_year%> <%= github_url("marsel", "https://github.com/marselgabdulov")%></p>
</footer>
